/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: red;
    border-radius: 50%;
}

.sink {
    background-color: red;
}

.miss {
    background-color: white;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.alerter {
    display: flex;
    position: absolute;
    left:75px;
    top:328px;
    background-color: rgb(255,255,240);
    background-color: rgba(255,255,240,0.7);
    width:200px;
    height: 100px;
    text-align: center;
    font-size: 120%;
    font-weight: 200;
    color: black;
}
.alerter p {
    margin: auto;
    text-align: center;
}