<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<table id="opponent" class="battleGrid">
</table>

<table id="player" class="battleGrid">
</table>

<div id="shipCont">
    <div id="playerShips">
        Place Your Ships
    </div>
    <div id="shipGraveYard" class="hidden">
        Sunken Enemy Ships
    </div>
    <div>
        <div><button id="place_minesweeper">Minesweeper</button></div>
        <div><button id="place_destroyer">Destroyer</button></div>
        <div><button id="place_battleship">Battleship</button></div>
        <div><input type="checkbox" id="is_vertical">Vertical</div>
    </div>
</div>

<div id="alert-modal" class = "hidden alerter">
    <p id="alert-content">Test</p>
</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>